.tags {
  display: inline-block;
  border: 1px solid $grey-color;
  border-radius: .313rem;
  padding: .25rem .625rem;
  margin-right: .125rem;
  margin-bottom: .5rem;
  border-bottom: 2px solid $grey-color;
}